/**
 * @Description: 主题常量
 * @Author: Navi
 * @Email: 1592193221@qq.com
 * @Date: 2020-07-01 10:30:34
 * @LastEditTime: 2020-08-13 15:38:21
 * @LastEditors: Navi
 */

// light theme
// background-color
// 命名规范
// 主题类型_模块_css属性

// background-color
$LIGHT_BACKGROUND_COLOR_DEFAULT: #f0f2f5;
$LIGHT_SIDEBAR_BACKGROUND_COLOR: #304156;
$LIGHT_SIDEBAR_SELECT_BACKGROUND_COLOR: #293444;
// font-color
$LIGHT_SIDEBAR_COLOR_GRAY: #bfcbd9;
$LIGHT_SIDEBAR_SELECT_COLOR_BLUE: #409eff;
$LIGHT_BACKGROUND_COLOR_WHITE: #FFFFFF;

// width
$LIGHT_SIDEBAR_WIDTH: 280px;

:export {
  LIGHT_BACKGROUND_COLOR_DEFAULT: $LIGHT_BACKGROUND_COLOR_DEFAULT;
  LIGHT_SIDEBAR_BACKGROUND_COLOR: $LIGHT_SIDEBAR_BACKGROUND_COLOR;
  LIGHT_SIDEBAR_SELECT_BACKGROUND_COLOR:$LIGHT_SIDEBAR_SELECT_BACKGROUND_COLOR;
  LIGHT_SIDEBAR_COLOR_GRAY: $LIGHT_SIDEBAR_COLOR_GRAY;
  LIGHT_SIDEBAR_SELECT_COLOR_BLUE: $LIGHT_SIDEBAR_SELECT_COLOR_BLUE;
  LIGHT_SIDEBAR_WIDTH: $LIGHT_SIDEBAR_WIDTH;
  LIGHT_BACKGROUND_COLOR_WHITE: $LIGHT_BACKGROUND_COLOR_WHITE;
}